:root{
    --bg-color: linear-gradient(45deg, rgba(230,255,119,1) 0%, rgba(239,255,190,1) 78%, rgba(255,255,255,1) 100%);
    --borde: 3px solid #879a65;
    --pokedex-color: #e61515;
    --form-color: #595c6e;
    --fly-color: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    --water-color: #4592c4;
    --bug-color: #729f3f;
    --fire-color: #fd7d24;
    --poison-color: #b97fc9;
    --grass-color: #9bcc50;
    --normal-color: #a4acaf;
    --electric-color: #eed535;
    --sand-color: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    --fairy-color: #fdb9e9;
    --fight-color: #d56723;
    --phisyc-color: #f366b9;
    --ice-color: #51c4e7;
    --dark-color: #707070;
    --dragon-color: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    --rock-color: #a38c21;
    --ghost-color: #7b62a3;
    --steel-color: #9eb7b8;
}